@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        /* 기본 컬러 */
        @apply text-textDark;
    }

    button:focus,
    button:active,
    input:focus,
    input:active,
    select:focus,
    select:active,
    textarea:focus,
    textarea:active {
        @apply outline-none shadow-none;
    }

    a,
    button,
    input[type="checkbox"] {
        @apply cursor-pointer;
    }

    .title {
        @apply font-bold text-3xl tracking-tight;
    }

    .bg-container {
        @apply max-w-[600px] h-screen mx-auto bg-background flex flex-col justify-center overflow-hidden;
    }

    .inner {
        @apply w-[500px] h-full mx-auto  pt-[75px] pb-[60px] max-h-[958px] relative;
    }
}

@layer utilities {
}

@layer components {
    .btn-blue {
        @apply bg-primary text-white border-primary;
    }
    .btn-white {
        @apply bg-white text-textDark border-beige;
    }
    .btn-red {
        @apply bg-warning text-white border-warning;
    }

    .scroll-custom::-webkit-scrollbar {
        @apply w-[5px];
    }

    /* 스크롤바 트랙 꾸미기 */
    .scroll-custom::-webkit-scrollbar-track {
        @apply bg-beige rounded-[5px];
    }

    /* 스크롤바 손잡이 꾸미기 */
    .scroll-custom::-webkit-scrollbar-thumb {
        @apply bg-textDark rounded-[5px];
    }

    /* 스크롤바 손잡이 호버 시 색 */
    .scroll-custom::-webkit-scrollbar-thumb:hover {
        background: #555;
    }
}
